<% include header.ejs %>
<script src="../js/TouchSlide.1.1.js"></script>
<link rel="stylesheet" type="text/css" href="../css/common.css">
<style>

</style>
<body>
<div class="word">
    <div class="title">单人模式</div>
    <div id="focus" class="focus">
        <div class="hd">
            <ul></ul>
        </div>
        <div class="bd">
            <ul>
                <li><a href="#"><img  src="../img/banner1.png" /></a></li>
                <li><a href="#"><img  src="../img/banner2.png"/></a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <!--<div class="talk">-->
            <!--<div class="talk-img"></div>-->
            <!--<div class="spece"></div>-->
            <!--<div class="talk-words">你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊</div>-->
        <!--</div>-->
        <!--<div class="talk">-->
            <!--<div class="talk-words">你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊你好啊</div>-->
            <!--<div class="spece"></div>-->
            <!--<div class="talk-img"></div>-->
        <!--</div>-->
    </div>

    <div class="content-input">
        <div class="wordInput">
            <img class="first" src="../img/voice.png"/>
            <img src="../img/keyboard.png" class="secound"/>
            <textarea id="word"></textarea>
            <img class="last" src="../img/cancel.png"/>
        </div>
        <div class="voiceInput">
            <div class="btn-block">
                <div class="btn" id="btn-w">
                    <div></div>
                </div>
            </div>

            <div class="btn-word recording" id="result-w">点击录音</div>
            <div class="btn-word recorded" style="display: none">松手暂停</div>
        </div>
    </div>

    <div class="menu-bottom">
        <img src="../img/hint.png"/>
        <img src="../img/two.png" class="two"/>
        <img src="../img/ok.png" class="ok"/>
    </div>
</div>
<div class="choose page">
    <div class="voice-content">
        <div class="voice-ul">
            <div class="voice-menu">
                <% for(var i = 0; i < tts.length;i++ ){ %>
                <% if(i == 0){ %>
                <div class="menu-li active"  id="menu<%= i %>"><%= tts[i].type %></div>
                <% } else { %>
                <div class="menu-li"  id="menu<%= i %>"><%= tts[i].type %></div>
                <% } %>
                <% } %>
            </div>
            <% for(var i = 0; i < tts.length;i++ ){ %>
            <% if(i == 0){ %>
            <div class="voice-menu-content menu<%= i %>"  style="margin-top:-10px">
                <% for(var key in tts[i].content){ %>

                <div class="voice-li" data-vcn="<%= tts[i].content[key].vcn %>" >
                    <div class="load" style="display: none;margin-top: 20px;">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>

                    <div class="voice-img" style="background: url(<%= tts[i].content[key].img %>) no-repeat;background-size: 100%;"></div>
                    <label><%= tts[i].content[key].name%></label>
                </div>
                <% } %>
            </div>
            <% } else { %>
            <div class="voice-menu-content menu<%= i %>" style="display: none">
                <% for(var key in tts[i].content){ %>
                <div class="voice-li" data-vcn="<%= tts[i].content[key].vcn %>" >
                    <div class="load" style="display: none">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                    <div class="voice-img" style="background: url(<%= tts[i].content[key].img %>) no-repeat;background-size: 100%;"></div>
                    <label><%= tts[i].content[key].name%></label>
                </div>
                <% } %>
            </div>
            <% } %>
            <% } %>

            <!-- <div class="voice-li">
                <div class="voice-img">
                </div>
                <label class="voice-active">普通话</label>
            </div>
            <div class="voice-li">
                <div class="voice-img">
                </div>
                <label>普通话</label>
            </div> -->

        </div>
    </div>
    <div class="return iconfont icon-zuojiantou"></div>
    <div class="share iconfont icon-zuihouyibanfenxiang"></div>
</div>
<div class="ui-dialog" id="share-ui-dialog">
    <div class="share-content">
        <div class="button-content">
            <div class="share-title">
                分享
            </div>
            <div class="share-button-ul">
                <a href="javascript:share.qzone();">
                    <div class="share-button-li iconfont icon-qzone">
                    </div>
                </a>
                <a class="share-weixin">
                    <div class="share-button-li iconfont icon-pengyouquan">
                    </div>
                </a>
                <a href="javascript:share.weibo();">
                    <div class="share-button-li iconfont icon-weibo">
                    </div>
                </a>
                <a href="javascript:share.douban();">
                    <div class="share-button-li iconfont icon-douban">
                    </div>
                </a>

            </div>
            <div class="cancel-button">
                取消
            </div>
        </div>

    </div>
</div>
<script>
//    var width = $(window).width();
//    var height = $(window).height();
//    $(".content").css({width:width*2});
//    $(".page").css({width:width});
//    $(".page").css({height:height});
    $(".share").show();
//    console.log(width+" "+height);

    // $(".pages").css("-webkit-transform", "matrix(1, 0, 0, 1, -320, 0)");
    // $("#share-ui-dialog").show();
</script>
<script type="text/javascript">
    TouchSlide({
        slideCell:"#focus",
        titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell:".bd ul",
        effect:"left",
        autoPlay:true,//自动播放
        autoPage:true, //自动分页
        switchLoad:"_src" //切换加载，真实图片路径为"_src"
    });
    $("#focus img").each(function() {
        var bili= 9/16;var width = $(this).width(); $(this).css("height",width*bili);
    });
    $(".last").on("click",function () {
//        console.log(1111);
//        var words = $(".content").text();
//        console.log(words);
//        if(!words){
//            $(this).hide();
//        }
//        else {
            var word = $("#word").val();
//          console.log(word);
            $("#word").val('');
            if(word){
                var words = '<div class="talk"> <div class="talk-img"></div><div class="spece"></div> <div class="talk-words"><div class="left">'+word+'</div></div></div>';
                $(".content").append(words);
                $(this).hide();
            }
            else {
                alert("请输入文字信息");
            }
//        }

    })
    $(".ok").on("click",function () {
        $(".word").hide();
        $(".choose").show();
    })
    $(".two").on("click",function () {
        window.location.href="/dialog";
    })
    $(".first").on("click",function () {
        $(".first").hide();
        $(".voiceInput").show();
        $(".secound").show();
    })
    $(".secound").on("click",function () {
        $(".secound").hide();
        $(".first").show();
        $(".voiceInput").hide();
    })
    $(".voiceInput .btn").on("touchstart",function () {
        $(".btn div").css("background-color","#d7ba42");
        $(".recording").hide();
        $(".recorded").show();
    })
    $(".voiceInput .btn").on("touchend",function () {
        $(".btn div").css("background-color","#f3cb25");
        $(".recording").show();
        $(".recorded").hide();
    })
    var $this = '';
    $(".voice-li").on("click",function(){
        $(".voice-li").removeClass("voice-active");
        $(this).addClass("voice-active");
        var content = $(".left").text();
        var vcn = $(".voice-active").data("vcn");
        var spd = 10;//语速
        var vol = 10;//音量
        $this = $(this);
        var audio = cherry.play(content,vcn,{
            success:function(audio){
                console.log(audio);
                console.log(audio.id);
                console.log(audio.src);
                audio.play();
                $(".load").hide();
                $this.children(".load").show();
                var is_playFinish = setInterval(function(){
                    console.log(audio.ended);
                    if(audio.ended){
                        $(".load").hide();
                        console.log("结束");
                        $this.children(".load").hide();
                        window.clearInterval(is_playFinish);
                    }
                }, 10);
                // window.location.href = audio.src;//音频下载
            },
            error:function(){
                $(".load").hide();
            }
        });
    })

    $(".menu-li").on("click",function(){
        $(".menu-li").removeClass("active");
        $(this).addClass("active");
        $(".voice-menu-content").hide();
        $("."+this.id).show();
    })



    $(".return").on("click",function(){
        // 	var volices = ["http://webapi.openspeech.cn/cttsPPPHHBBHNTZa-aQSHJGwlmMmaxoWSM06emmmmmmm5vk5A.mp3","http://webapi.openspeech.cn/cttsPPPHHBBHNTZdWaQSjgKw15f45UoaHn1Yummmmmmm5RkOE.mp3","http://webapi.openspeech.cn/cttsPPPHHBBHNTZ1laQSVN6wk1oxBEddOvurEmmmmmmm5R5pE.mp3"];
        // 	var length = volices.length;
        // 	var num = Math.floor(Math.random()*volices.length);
        // 	console.log(num);
        // 	audio = new Audio();
        // 	audio.src = volices.pop();//每次读数组最后一个元素
        //       	audio.addEventListener('ended', playEndedHandler, false);
        //       	audio.play();
        //       	// document.getElementById("audioBox").appendChild(audio);
        //       	audio.loop = false;//禁止循环，否则无法触发ended事件
        //       	function playEndedHandler(){
        //           	audio.src = volices.pop();
        //           	audio.play();
        //           	console.log(volices.length);
        //           	!volices.length && audio.removeEventListener('ended',playEndedHandler,false);//只有一个元素时解除绑定
        //       	}

        // for(var i = 0;i <= num;){
        // 	audio = new Audio();
        // 	audio.src = volices[i];
        // 	console.log(audio.src);
        // 	console.log(audio);
        // 	audio.play();
        // 	var is_playFinish = setInterval(function(){
        // 			console.log(audio.ended);
        // 			if(audio.ended){
        // 				// $(".load").hide();
        // 				console.log("结束");
        // 				// $this.children(".load").hide();
        // 				window.clearInterval(is_playFinish);
        // 			}
        // 		}, 10);
        // 	console.log(i);
        // 	i++;
        // window.location.href = audio.src;//音频下载
        // }
        // var n = plays(volices,num);
        // var n = 0;
        // if(n <=num){
        // 	n = plays(volices,n);
        // 	console.log(n);
        // }

        // for(var i = 0;i <= num; i++){
        // }
        //语音播放
        // audio = new Audio();
        // audio.src = "/audio/test.mp3";
        // audio.src = "http://webapi.openspeech.cn/cttsPPPHHBBHNTCAFaFWS9lawws1wIluv20XTmmmmmmmkAkmm.mp3";
        // console.log(audio);
        // audio.play();


        // audio.autoplay = true;
        // audio.addEventListener('canplay', canPlay, false);
        // console.log(123456);
        // var audio = document.createElement("AUDIO");
        // audio.setAttribute("src", "http://webapi.openspeech.cn/cttsPPPHHBBHNT0aqa2fm2BwM0FNB-q5uPagImmmmmmmEBmsm.mp3");
        // console.log(audio);
        // audio.play();
        // }
        // }
//        $(".pages").css("-webkit-transform", "matrix(1, 0, 0, 1, 0, 0)");
        $(".word").show();
        $(".choose").hide();
    })


    $(".share").on("click",function(){
        var data = {
            content : $(".left").text(),
            vcn     : $(".voice-active").data("vcn")
        }
        $.ajax({
            type : "POST",
            data: data,
            dataType: "json",
            url : "/voice/tts",
            success : function(result){
                console.log(result);
                if(result == "102"){
                    url = result;
                    $("#share-ui-dialog").show();
                    var share = new SimpleShare({
                        url: result,
                        title: 'cherry|话说你的故事',
                        content: '我用cherry说了一段话，快来听吧',
                        pic: 'http://ac-83a4olkt.clouddn.com/bc2fc28bcd7f3c17.jpg'
                    });
                }else{
                    cherry.tipShow("您的网络有问题");
                }
                // document.querySelector('.sharetotqq').addEventListener('click',function() {
                // 	share.tqq();
                // });

            },
            error: function(error){
                console.log(error.responseText);
                if(error.responseText != "102"){
                    $("#share-ui-dialog").show();
                    url = error.responseText;
                    share = new SimpleShare({
                        url: error.responseText,
                        title: 'cherry|话说你的故事',
                        content: '我用cherry说了一段话，快来听吧。',
                        pic: 'http://ac-83a4olkt.clouddn.com/bc2fc28bcd7f3c17.jpg'
                    });
                    // document.querySelector('.sharetotqq').addEventListener('click',function() {
                    // 	share.tqq();
                    // });
                }
            }
        });

        $(".share-weixin").on("click",function(){
            cherry.weixin(url);
        })
    })
    $(".cancel-button").on("click",function(){
        $("#share-ui-dialog").hide();
    })
    var url = '';

//    var share = new SimpleShare({
//        url: '',
//        title: 'cherry|话说你的故事',
//        content: '我用cherry说了一段话，快来听吧',
//        pic: 'http://ac-83a4olkt.clouddn.com/bc2fc28bcd7f3c17.jpg'
//    });

    function plays(volices,num,callback){
        var n = 0;
        audio = new Audio();
        audio.src = volices[n];
        console.log(audio.src);
        console.log(audio);
        audio.play();
        console.log(audio.ended);
        var is_playFinish = setInterval(function(){
            console.log(audio.ended);
            if(audio.ended){
                // $(".load").hide();
                console.log("结束");
                // $this.children(".load").hide();
                window.clearInterval(is_playFinish);
            }
        }, 10);
        if(audio.ended){
            n = n + 1;
            console.log(n);
            // callback.success(n);
            if(n<=num){
                plays(volices,num);
            }
            else{
                callback.success(n);
            }
        }
        console.log(n);
    }
</script>
<script type="text/javascript" src='../js/fingerprint2.min.js'></script>
<script type="text/javascript" src="../js/iat.all.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<% include footer.ejs %>
</body>